<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
    <link rel="stylesheet" href="/style.css" />
    <!-- <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/boostrap.js"> -->
  </head>
  <body>
    <div class="form-container container bg-danger">
      <h2>SignUp</h2>
      <form action="/api/user/signup" method="post">
        <div class="form-group">
          <label for="email"
            >Email
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Enter your email"
              required
              autocomplete="off"
            />
          </label>
          <div class="form-group">
            <label for="password"
              >Password
              <input
                type="password"
                name="password"
                id="password"
                placeholder="password"
                required
              />
            </label>
          </div>
          <div class="form-group">
            <label for="comfirm_password"
              >Comfirm Password
              <input
                type="password"
                name="comfirm_password"
                id="comfirm_password"
                placeholder="password"
                required
              />
            </label>
          </div>
          <% if(err) { %>
            <div class="alert alert-danger">
               <%= err %>
            </div>
         <% } %>
        </div>
        <button type="submit" class="submit-btn">Signup</button>
      </form>
      <p>Have an account? <a href="/api/user/login">Login</a></p>
    </div>
  </body>
</html>
